@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

body {
    font-family: "Kdam Thmor Pro", sans-serif;

}

.container {
    background-color: #2C8C99;
    margin: 0 auto;
    width: 80vw;
    max-width: 1200px;
}

.images img {

    /*width: 600px;*/
    max-width: 100%;
    height: auto;

}


header {
    background-color: #26FFE6;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}

header nav {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

header nav a {
    text-decoration: none;
    color: #26FFE6;
    background-color: #2C8C99;
    border-radius: 20px;
    padding: 5px 10px;
    text-align: center;
}

header nav a:hover {
    background-color: #326771;
    color: black
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background-color: #2F7A85;*/
    margin: 10px auto;
    width: 80%;
}

footer {
    background-color: #26FFE6;
    color: #2C8C99;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

@media (min-width:600px) {

    header nav {
        flex-direction: row;
        gap: 20px;
    }

    main {
        display: flex;
        gap: 100px;
        margin: 0 60px;
    }

}

form {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
}

.send-button-container {
    margin: 0 auto;
}

label {
    display: block;
    padding-bottom: 7px;
}

/*.send-button-container input {
    width: 30px;
    min-width: 100px;
}*/

@media (min-width:600px) {
    form {
        grid-template-columns: 1fr 1fr;
    }

    .send-button-container {
        grid-column: span 2;
    }
}